<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sales Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
</head>
<body>
    <div class="main">
        <span class="main-header">Sales Predictor</span>
        <form action="" method="post">
            <div class="inside-form">
            <input type="text"  step="any" name="text0" id="url0" placeholder="Customer name" required><br>
            <input type="number"  step="any" name="number1" id="url1" placeholder="Amount Spent on TV in ₹" required><br>
            <input type="number" step="any" name="number2" id="url2" placeholder="Amount Spent on Radio in ₹" required><br>
            <input type="number" step="any" name="number3" id="url3" placeholder="Amount Spent on Social media in ₹" required><br>
            <select name="number4" id="url" required>
                <option>Select Influencer</option>
                <option>Mega</option>
                <option>Micro</option>
                <option>Nano</option>
                <option>Macro</option>
            </select>
            <button class="Check">Predict Sales</button>
            </div>
        </form>
        {% if a %}
        <h3>Predicted Sales: {{ a }}</h3>
        {% endif %}
    </div>
    <div class="plotting">
        {%if plot%}
        <img src="data:image/png;base64,{{ plot }}" alt="Bar Chart">
        {% endif %}
    </div>
</body>
</html>